<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo Spring MVC Thymeleaf</title>
</head>
<body>
    <header>
        <h1>Bem-vindo ao Demo Spring MVC com Thymeleaf!</h1>
        <p>Esta é uma demonstração de como usar o Thymeleaf com o Spring MVC.</p>
    </header>
    <div th:insert="~{parts/navigation :: navigation}"></div>
    <div th:insert="~{parts/footer :: footer}"></div>
</body>
</html>